.gitignore

documentLoaders/.venv
documentLoaders/.env

textSplitters/.venv
textSplitters/.env

vectorStores/.venv
vectorStores/.env

retriver/.venv
retriver/.env



tools/.venv
tools/.env

agents/.venv
agents/.env